<launch>

	<!-- Turtlesim Node-->
	<node pkg="pva_tracker_pp" type="pub_zuan_quan" name="pub_zuan_quan" />

	<node pkg="pva_tracker_pp" type="plan_zuan_quan" name="plan_zuan_quan" output="screen"/>
		<!--rosparam file="/home/pengpeng/catkin_ws/src/pva_tracker/cfg/pengpeng.yaml" command="load"/-->
	<node pkg="pva_tracker_pp" type="tracker" name="tracker" />





</launch>
